body{
  //background:#ffe1a6;
  background:radial-gradient(#ffe1a6,white);
}
.items{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
}
.item{
  width:250px;
  text-align:center;
  border:2px solid black;
  margin-bottom:10px;
  padding:0px 10px 20px;
  background:#fcf3dc;
  border-radius:20px;
}
.yes{
  border:1px solid black;	
  padding:2px 8px;
  background-color:#9eff6e;
  cursor:pointer;
  border-radius:3px;
}
.noOrder{
  width:400px;
  text-align:center;
  //border:1px solid black;
  padding:20px 10px;
  border-radius:10px;
  background:radial-gradient(#ffe1a6,white);
}

